<div class="menu-link " ng-init="popup = false" ng-click="popup = !popup" ng-class="{active: popup==true}">

	<i class="fa fa-bell-o an-repeat" ng-class="{'active': numNotf != 0,'tada': numNotf != 0}"><strong class="hide" ng-show="numNotf">{{numNotf}}</strong></i>
	<span class="text"> Notificaciones</span>

	<nav  class="notifications module_list"  ng-class="{active: popup==true}" >
		<span>Notificaciones</span>
		<ul id="not_box"> 
			<div ng-show="numNotf == 0">
				<h3>Sin notificaciones</h3>
			</div>
			<li ng-repeat="item in data">
				<span class="icon">
					<i class="fa {{item.type}}"></i>
				</span>
				<div class="content">
					<a class="titulo" href="#/{{item.type}}#{{item.link}}">{{item.title}}</a>
				</div>
				<span class="delete">
					<div ng-click="remove(item.id)"><i class="fa fa-times" ></i></div>
				</span>
			</li>
		</ul>
	</nav>
</div>