<section id="user">
	<div id="userimg">
		<img src="http://placekitten.com/51/51" alt="">
	</div>
	<div id="userinfo">
		<span class="name">{{$parent.UserFactory.user}}</span>
		<a class="label alert"><i class="fa fa-exclamation-triangle"></i>  Alerta</a>
	</div>
</section>
<nav ng-controller="MainCtrl">
	<span>INICIO</span>
	<ul ng-click="$parent.$parent.side = false">
		<li><a href="#/home"  data-icon="">Dashboard</a></li>
		<li><a href="#/orders" data-icon="">Orders</a></li>
		<li><a href="#/products" data-icon="">Products</a></li>
		<li><a href="#/categories" data-icon="">Categories</a></li>
	</ul>
	<span>CONFIG</span>
	<ul ng-click="$parent.$parent.side = false">
		<li><a href="#/zones" data-icon="">Zones</a></li>
		<li><a href="#/postalcodes" data-icon="">Postalcodes</a></li>
		<li><a href="#/files" data-icon="">Images</a></li>
	</ul>
</nav>
