body{
	position:relative;
	height: 100%;
}
html{
  height: 100%;
}
body {
  min-height: 100%;
}

.content{
	padding:0 1rem;
}
.layout{
	height:100%;
	max-height: 100%;
	display: block;
	overflow-x: hidden;
}
.main{
	height:100%;
	width:100%;
	@include clearfix();
}
header{
	max-height:54px;
	display: block;
	background: #2A2A2A; 
	color:#909090;
	position: fixed;
	width: 100%;
	z-index: 1030;
	border-bottom:1px solid #3D3D3D;
}
.menu-link{ 

}
.container{
	height:auto;
	left: 0;
	position: relative;
	margin:0 auto; 
	padding-top: 50px;
	clear:none; 
	border:1px solid $border-color; 
	border-bottom: 0;
	//@include transition(0.3s left ease-out);
	&.active{ 
		//left : 13%;   
	}
}
#side_menu{
	display: block;
	height:100%;
	width:13%; 
	left: -13%;
	overflow: hidden;
	z-index: $zindex-dropdown;
	background:$side-nav-color;
	padding:0;
	float:left;
	border-right:1px solid #3D3D3D; 
	background: #2A2A2A; 
	color:#909090;
	@include transition(0.35s left linear);
	&.active{
		left: 0;

	}
	#user{
		margin-top: 54px;
		margin-bottom: 1rem;
		height:95px;
		border-bottom:1px solid #3D3D3D;
		background:#222222;
		#userimg{
			width:32%;
			display: block;
			float: left;
			padding: $base-padding;
			text-align: center;
			height: 100%;
			img{
				margin-top:16px;
				border: 2px solid #3D3D3D;
				border-radius:100%;
			}
		}
		#userinfo{
			width:68%;
			display: block;
			float: left;
			@include ellipsis();
			margin-top: 9px;
			padding: 0 0.25rem;
			.name{
				width: 100%;
				padding: 0.25rem 0 0.12rem 0;
				display: block;
				font-size: 0.8rem;
				font-weight: bold;
				line-height: $header-line-height;
				//color:whitesmoke;
			}
			.label{
				@include label-size(0.3rem,0.7rem);
				//opacity: 0.7;
				&:hover{
					//opacity: 1;
				}
			}
		}
	}
 	nav{
	 	>span{
	 		padding:1rem 1rem 0.5rem 1rem; 
	 		border-bottom:1px solid #3D3D3D;
	 		font-size: 0.8rem;
	 		width:100%;
	 		display:block;
	 		font-variant: small-caps;
	 		font-weight: bolder;
	 	}
 	}
 	ul{
 		margin-bottom:1rem;
 	}
 	li{
 		width:100%;
 		a{
 			width:100%;
			padding:0.5rem 1.5rem;
 			//color: whitesmoke;
 			display:block;
 			font-size:0.9rem;
 			color:#909090;
	 		&:hover,&.active{
	 			//color:white;
	 			color: #c3c3c3;
				background-color: #2f2f2f;
	 		}
 		}
 		
 	}
 }

.module.login{
	margin:15vh auto;
	max-width:320px;
	padding:1rem;
	border:1px solid $border-color;
	border-radius:$global-radius*3;
	text-align:center;
	.login_form{
		button{
			width:100%;
		}
	}
	.title{
		font-weight:lighter;
	}
	.icon{
		text-align:center;
		font-size:5rem;
		color:darken($secondary-bg,30%);
		margin:1rem;
		margin-top:0;
	}
}

.module.files{
  .drop{
      width: 100%;
      border: 2px dashed $secondary-color;
      margin-bottom: 1rem;
      span{
          margin: 0 auto;
          width: 100%;
          display: block;
          height: 20%;
          text-align: center;
          padding: 16%;
          font-size: 2rem;
          color:$secondary-color;
          max-height: 350px;
      }
      &.active{
        border-color:$primary-color;
        span{
            color:$primary-color;
        }
      }
  }
  .btns{
      text-align: center;
      input,.button{
        max-width: 6rem;
        @include ellipsis();
        text-align: left;
      }

  }
  .preview{

  }
  .list{
      ul{
          display: block;
          height: 283px;
          overflow-y: scroll;
          overflow-x: hidden;
          width: 103%;
          padding-right: 1%;
          border:1px solid $secondary-color;
          li{
              height:65px;
              border:1px solid $border-color;
              background: $primary-bg;
              margin-bottom: 0.5rem !important;
              @include clearfix();
              .img{
                  overflow: hidden;
                  vertical-align: bottom;
                  img{
                      border-right:1px solid $border-color;
                     height: 63px;
                  }
              }
              >span{
                  text-align: left;
                  height: 100%;
                  line-height: 1;
                  padding-top: 1.4rem;
                  display: block;
                  float: left;
                  @include ellipsis();
              }
              .btns{
                  float: left;
                  padding-top: 0.82rem;
              }
          }
      }
  }
  .upload{
      .load{

      }
  }
  .element{
      width: 20%;
      overflow: hidden;
      margin: 0 1rem;
      float: left;
      .centered{
          padding: $base-padding;
          margin: 0.2rem auto;
          width: 200px;
          &.selected{
            box-shadow:0 0 1px $border-color;
            background: $secondary-color;
          }
      }
      .icon{
          text-align: center;
          img{
            max-height: 150px;
          }
      }
      .name{
          padding-top: $base-padding;
          line-height: 1.3rem;
      }
  }
}
.module_smart-list
{
    max-height: 730px;
    overflow-x: hidden;
    overflow-y: scroll;
    ul{
        li{

            border-bottom:1px solid $border-color;
            &:nth-child(even){
              background: darken(white,2%);
            }
            &:last-child{
              border:none;
            }
            &.selected{
              background: darken($secondary-color,0%) !important;
            }
            .label{
              vertical-align: text-bottom;
            }
            .item{
                width: 100%;
                padding: 0.7rem;
                cursor: pointer;
                @include clearfix();
                div{
                  @include ellipsis();
                }

                .id{
                  width:18%;
                }
                .name{
                  width:44%;
                }
                .data{
                  width:32%;
                }
                .icon{
                  width:2%;
                  i{
                    color:$border-color;
                    &.active:before{
                      content:"\f104";
                    }
                  }
                }
            }

            .content{
              height: 0;
              width: 100%;
              overflow: hidden;
              background: darken(white,3%);
                .row,.border-bt{
                  border-bottom: 1px solid lighten($border-color,5%);
                  &:last-child{
                    border-bottom:0;
                  }
                }
                .columns{
                  padding: 0.5rem
                }
                .title_small{
                  background: $secondary-color ;
                  border-right:1px solid lighten($border-color,5%);
                  font-weight: bolder;
                  font-variant: small-caps;
                }
                #products{
                    .title{
                      text-align: center;
                      font-weight: bolder;
                      font-variant: small-caps;
                    }
                }
            }
            .content.selected{
              background: darken($secondary-bg,2%);
              border-top:1px solid $border-color;
              height: auto;
            }

            #products{
              .title{
                background: $secondary-color ;
                height: auto;
                min-height: 1rem;
                cursor: pointer;
                &:hover{
                  background: darken($secondary-color,3%) !important;
                }
                &.active{
                  content:"\f104";
                }
              }
              .title_small{
                border-left:1px solid lighten($border-color,5%);
                &:first-child{
                  border-left:0;
                }
              }
            }
          #buttons{
            text-align: center;
            margin:1rem 0;
          }
        }
    }
  .productsBlock {
    min-height: 0 ;
    height: 0 ;
    width: 100%;
    overflow: hidden;
    padding: 0;
    .large-12{
      @include clearfix();
    }
  }
  .productsBlock.selected{
    border-top:1px solid $border-color;
    height: auto !important;
  }
}

message-center{
  display: block;
  position: fixed;
  right: $base-padding *2;
  top: $header-height + $base-padding + 1.2rem;
  height: 4%;
  overflow: visible;
  width: 300px;
  .message{
    padding-right: $base-padding/2;
  }
  .button{

  }
  .message-box{
    width: 100%;
    padding:1rem;
    background: whitesmoke;
    border-radius:2px;
    @include alert-base();
    @include alert-style();
    @extend .msj-animated;
    button{
      @include alert-close();
      height: 58%;
      background: none;
      top:26%;
    }
    &.success{
      @include alert-style($success-color);
    }
    &.warning{
      @include alert-style($alert-color);
    }
  }
}

.pdcero{
  padding: 0 !important;
}
.base-padding{
	padding: $base-padding;
}
.icon.orders{
	background: $alert-color !important;
}
i.orders:before{
	content: "\f0d1";
}
i.products:before{
	content: "\f02b";
}
i.warning:before{
	content: "\f071";
}
i.messages:before{
	 content: "\f003";
}
i.user:before{
	 content: "\f129";
}

.primary-bg{
	background-color: $primary-color !important;
}
.secondary-bg{
	background-color: $secondary-color !important;
}
.success-bg{
	background-color: $info-color !important;
}
.alert-bg{
	background-color: $alert-color !important;
}
.alert-color{
	color: $alert-color;
}