html,body{ 
	background:$body-bg;
	height:100%;
}

.module {
	background:$secondary-bg;
	border:1px solid $border-color;
	margin-bottom:1rem;

	 .module_header{
	 	background: darken($secondary-bg,4%);
	 	border-bottom:1px solid $border-color;
	 	padding: 0.33rem;
	 	h4,h3 {
	 		margin:0;
			padding:0 0.5rem;
	 	}
	 	.searcher{
	 		margin:0;
	 		width: 100%;
	 	}
	 	.searcher,.postfix{
	 		height: 2.08rem;
	 	}
	 	.button{
	 		margin:0;
	 		&.postfix{
	 			line-height: 2.08rem;
	 			font-size: 0.9rem;
	 		}
	 	}
		&.centered {
			text-align:center;
		}
	 }
	.module_content{
		padding:$base-padding;
		@include clearfix();
		form{
			margin:0;
		}
	}
	.module_dash{
		padding: 0;
	}
	.buttons{
		.right{
			.button{
				margin-top: 1rem;
				margin-left:$base-padding;
			}
		}
	}
}



