// Rangos 


$bp1-range: (0, 320px) !default; 

$bp2-range: (321px, 640px) !default;

$bp3-range: (799px, 1119px) !default;

$bp4-range: (1281px, 1839px) !default;

$bp5-range: (1839px,1940px) !default;

// Break point 1
@media only screen and (min-width:lower-bound($bp1-range)) {
        @import "media/_bp1";
        @import "_index";
}
// Break point 2
@media only screen and (min-width: lower-bound($bp2-range)) {
        @import "media/_bp2";
    //    @import "_index";
}
// Break point 3
@media only screen and (min-width: lower-bound($bp3-range)) {
        @import "media/bp3";
//        @import "_index";
}
// Break point 4
@media only screen and (min-width: lower-bound($bp4-range)) {
        @import "media/bp4";
   //     @import "_index";
}
// Break point 5 
@media only screen and (min-width: lower-bound($bp5-range)) {
       @import "media/bp5";
      //  @import "_index";
}
// Break point x2 --> Retina Display
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
@import "media/2x";}
 
