@import "components/foundation/functions";

// This is the default html and body font-size for the base rem value.
	$rem-base: 16px;

// We use these to control various global styles
	$body-bg: #e4e4e4 !default;  

	$container-color:$body-bg;
	
	$body-font-color: darken(white,80%);
	$body-dark-font-color:  darken(white,90%);
	$body-font-family: 'Roboto', sans-serif;
	$body-family-serif:  Georgia, "Times New Roman", Times, serif !default;
	$body-font-weight: normal;
	$body-font-style: normal;
	$font-smoothing: antialiased;

// Backgrounds
	$primary-bg:#F3F3F3;
	$secondary-bg:#FFFFFF !default;

// Animations
	$animated-seg:1s;

//We use these as default colors throughou
	$dark-color: $secondary-bg;//#e7e7e7;
	$header-color:whitesmoke !default; 
	$side-nav-color: $secondary-bg; //#e7e7e7;
	//$side-nav-color: darken($primary-color,46%); //#e7e7e7;

	$primary-color: #008CBA;
	$secondary-color: #e7e7e7;
	$alert-color: #f04124;
	$success-color: #43AC6A;
	$warning-color: #f08a24;
	$info-color: #a0d3e8;

	$global-radius: 0.15rem;
	$global-rounded: 1000px;

	$border-color:darken($secondary-bg, 30%);
// Colors

	$gray-darker: lighten(#000, 13.5%) ; // #222
	$gray-dark: lighten(#000, 20%) ;   // #333
	$gray: lighten(#000, 33.5%) ; // #555
	$gray-light: #e7e7e7 ;   // #999
	$gray-lighter: lighten(#000, 93.5%) ; // #eee
	
// Borders

	$primary-border: 1px solid #222222;
	$primary-border-color:#222222;
	$secondary-border: 1px solid darken($secondary-color,10%); 
	$border-radius-base:             rem-calc(4) !default;
	$border-radius-large:            rem-calc(6) !default;
	$border-radius-small:            rem-calc(3) !default;

// Header

	$base-padding:0.25rem; 

	$header-height:modular-scale(1rem,2,$golden) !default;

	$header-line-height:$header-height - $base-padding * 2 ; 

	$header-font-size:modular-scale($header-line-height,-1,$golden); 


// Paddings
	
	$base-padding:0.25rem !default; 

	$padding-base-vertical:          rem-calc(6) !default;
	$padding-base-horizontal:        rem-calc(12) !default;

	$padding-large-vertical:         rem-calc(10) !default;
	$padding-large-horizontal:       rem-calc(16) !default;

	$padding-small-vertical:         rem-calc(5) !default;
	$padding-small-horizontal:       rem-calc(10) !default;

//  Margins 

	$base-margin:2% !default;

	$margin-base-vertical:          rem-calc(6) !default;
	$margin-base-horizontal:        rem-calc(12) !default;

	$margin-large-vertical:         rem-calc(10) !default;
	$margin-large-horizontal:       rem-calc(16) !default;

	$margin-small-vertical:         rem-calc(5) !default;
	$margin-small-horizontal:       rem-calc(10) !default;

// Line height

	$line-height-base:        1.428571429 !default; // 20/14
	$line-height-computed:    floor($rem-base * $line-height-base) !default; // ~20px

	$line-height-large:              1.33 !default;
	$line-height-small:              1.5 !default;

// Modals
// -------------------------
	$modal-inner-padding:          rem-calc(20) !default;

	$modal-title-padding:          rem-calc(15) !default;
	$modal-title-line-height:     $line-height-base !default;

	$modal-content-bg:                             #fff !default;
	$modal-content-border-color:                   rgba(0,0,0,.2) !default;
	$modal-content-fallback-border-color:          #999 !default;

	$modal-backdrop-bg:           #000 !default;
	$modal-header-border-color:   #e5e5e5 !default;
	$modal-footer-border-color:   $modal-header-border-color !default;

// Z-index master list
// -------------------------
	$zindex-navbar:            1000 !default;
	$zindex-dropdown:          1000 !default;
	$zindex-popover:           1010 !default;
	$zindex-tooltip:           1030 !default;
	$zindex-navbar-fixed:      1030 !default;
	$zindex-modal-background:  1040 !default;
	$zindex-modal:             1050 !default;
	
// Pagination
// -------------------------

	$pagination-bg:                        #fff !default;
	$pagination-border:                    #ddd !default;

	$pagination-hover-bg:                  $gray-lighter !default;

	$pagination-active-bg:                 $primary-color !default;
	$pagination-active-color:              #fff !default;

	$pagination-disabled-color:            $gray-light !default;


// Tables
// -------------------------

	$table-cell-padding:                  rem-calc(8) !default;
	$table-condensed-cell-padding:        rem-calc(5) !default;

	$table-bg:                           transparent !default; // overall background-color
	$table-bg-accent:                    #f9f9f9 !default; // for striping
	$table-bg-hover:                     #f5f5f5 !default;
	$table-bg-active:                    $table-bg-hover !default;

	$table-border-color:                 #ddd !default; // table and cell border


// Form states and alerts
// -------------------------
	
	$state-success-text:             #468847 !default;
	$state-success-bg:               #dff0d8 !default;
	$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

	$state-info-text:                #3a87ad !default;
	$state-info-bg:                  #d9edf7 !default;
	$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

	$state-warning-text:             #c09853 !default;
	$state-warning-bg:               #fcf8e3 !default;
	$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

	$state-danger-text:              #b94a48 !default;
	$state-danger-bg:                #f2dede !default;
	$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//// GRID SETTINGS 
///
//

// Media queries breakpoints
// --------------------------------------------------

	// Extra small screen / phone
	// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
	$screen-xs:                  480px !default;
	$screen-xs-min:              $screen-xs !default;
	$screen-phone:               $screen-xs-min !default;

	// Small screen / tablet
	// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
	$screen-sm:                  768px !default;
	$screen-sm-min:              $screen-sm !default;
	$screen-tablet:              $screen-sm-min !default;

	// Medium screen / desktop
	// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
	$screen-md:                  992px !default;
	$screen-md-min:              $screen-md !default;
	$screen-desktop:             $screen-md-min !default;

	// Large screen / wide desktop
	// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
	$screen-lg:                  1200px !default;
	$screen-lg-min:              $screen-lg !default;
	$screen-lg-desktop:          $screen-lg-min !default;

	// So media queries don't overlap when required, provide a maximum
	$screen-xs-max:              ($screen-sm-min - 1) !default;
	$screen-sm-max:              ($screen-md-min - 1) !default;
	$screen-md-max:              ($screen-lg-min - 1) !default;

// Grid system
// --------------------------------------------------

	// Number of columns in the grid system
	$grid-columns:              12 !default;
	// Padding, to be divided by two and applied to the left and right of all columns
	$grid-gutter-width:         30px !default;
	// Point at which the navbar stops collapsing
	$grid-float-breakpoint:     $screen-sm-min !default;

// Container sizes
// --------------------------------------------------

	// Small screen / tablet
	$container-tablet:             ((720px + $grid-gutter-width)) !default;
	$container-sm:                 $container-tablet !default;

	// Medium screen / desktop
	$container-desktop:            ((940px + $grid-gutter-width)) !default;
	$container-md:                 $container-desktop !default;

	// Large screen / wide desktop
	$container-large-desktop:      ((1140px + $grid-gutter-width)) !default;
	$container-lg:                 $container-large-desktop !default;

//We use this as cursors values for enabling the option of having custom cursors in the whole site's stylesheet
	$cursor-crosshair-value: crosshair !default;
	$cursor-default-value: default !default;
	$cursor-pointer-value: pointer !default;
	$cursor-help-value: help !default;
	$cursor-text-value: text !default;
	
// FOUNDATION SETTINGS
//
// TYPOGRAPHY
//
	//We use these to control inset shadow shiny edges and depressions.
	//$shiny-edge-size: 0 1px 0;
	//$shiny-edge-color: rgba(#fff, .5);
	//$shiny-edge-active-color: rgba(#000, .2);	

	// $include-html-type-classes: $include-html-classes;
	 $include-open-sans: false;

	// We use these to control header font styles
	 $header-font-family: $body-font-family;
	// $header-font-weight: 300;
	// $header-font-style: normal;
	 $header-font-color: $body-dark-font-color;
	// $header-line-height: 1.4;
	// $header-top-margin: .2rem;
	// $header-bottom-margin: .5rem;
	// $header-text-rendering: optimizeLegibility;

	// We use these to control header font sizes
	// $h1-font-size: rem-calc(44);
	// $h2-font-size: rem-calc(37);
	// $h3-font-size: rem-calc(27);
	// $h4-font-size: rem-calc(23);
	// $h5-font-size: rem-calc(18);
	// $h6-font-size: 1rem;

	// These control how subheaders are styled.
	// $subheader-line-height: 1.4;
	// $subheader-font-color: lighten($header-font-color, 30%);
	// $subheader-font-weight: 300;
	// $subheader-top-margin: .2rem;
	// $subheader-bottom-margin: .5rem;

	// A general <small> styling
	// $small-font-size: 60%;
	// $small-font-color: lighten($header-font-color, 30%);

	// We use these to style paragraphs
	// $paragraph-font-family: inherit;
	// $paragraph-font-weight: normal;
	// $paragraph-font-size: 1rem;
	// $paragraph-line-height: 1.6;
	// $paragraph-margin-bottom: rem-calc(20);
	// $paragraph-aside-font-size: rem-calc(14);
	// $paragraph-aside-line-height: 1.35;
	// $paragraph-aside-font-style: italic;
	// $paragraph-text-rendering: optimizeLegibility;

	// We use these to style <code> tags
	// $code-color: darken($alert-color, 15%);
	// $code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
	// $code-font-weight: bold;

	// We use these to style anchors
	// $anchor-text-decoration: none;
	//$anchor-font-color: $secondary-color;
	//$anchor-font-color-hover: darken($secondary-color, 5%);

	// We use these to style the <hr> element
	// $hr-border-width: 1px;
	// $hr-border-style: solid;
	// $hr-border-color: #ddd;
	// $hr-margin: rem-calc(20);

	// We use these to style lists
	// $list-style-position: outside;
	// $list-side-margin: 1.1rem;
	// $list-ordered-side-margin: 1.4rem;
	// $list-side-margin-no-bullet: 0;
	// $list-nested-margin: rem-calc(20);
	// $definition-list-header-weight: bold;
	// $definition-list-header-margin-bottom: .3rem;
	// $definition-list-margin-bottom: rem-calc(12);

	// We use these to style blockquotes
	// $blockquote-font-color: lighten($header-font-color, 30%);
	// $blockquote-padding: rem-calc(9 20 0 19);
	// $blockquote-border: 1px solid #ddd;
	// $blockquote-cite-font-size: rem-calc(13);
	// $blockquote-cite-font-color: lighten($header-font-color, 20%);
	// $blockquote-cite-link-color: $blockquote-cite-font-color;

	// Acronym styles
	// $acronym-underline: 1px dotted #ddd;

	// We use these to control padding and margin
	// $microformat-padding: rem-calc(10 12);
	// $microformat-margin: rem-calc(0 0 20 0);

	// We use these to control the border styles
	// $microformat-border-width: 1px;
	// $microformat-border-style: solid;
	// $microformat-border-color: #ddd;

	// We use these to control full name font styles
	// $microformat-fullname-font-weight: bold;
	// $microformat-fullname-font-size: rem-calc(15);

	// We use this to control the summary font styles
	// $microformat-summary-font-weight: bold;

	// We use this to control abbr padding
	// $microformat-abbr-padding: rem-calc(0 1);

	// We use this to control abbr font styles
	// $microformat-abbr-font-weight: bold;
	// $microformat-abbr-font-decoration: none;

// Alert Boxes

	// $include-html-alert-classes: $include-html-classes;

	// We use this to control alert padding.
	// $alert-padding-top: rem-calc(14);
	// $alert-padding-default-float: $alert-padding-top;
	// $alert-padding-opposite-direction: $alert-padding-top + rem-calc(10);
	// $alert-padding-bottom: $alert-padding-top;

	// We use these to control text style.
	// $alert-font-weight: normal;
	// $alert-font-size: rem-calc(13);
	// $alert-font-color: #fff;
	// $alert-font-color-alt: darken($secondary-color, 60%);

	// We use this for close hover effect.
	// $alert-function-factor: 5%;

	// We use these to control border styles.
	// $alert-border-style: solid;
	// $alert-border-width: 1px;
	// $alert-border-color: darken($primary-color, $alert-function-factor);
	// $alert-bottom-margin: rem-calc(20);

	// We use these to style the close buttons
	// $alert-close-color: #333;
	// $alert-close-top: 50%;
	// $alert-close-position: rem-calc(5);
	// $alert-close-font-size: rem-calc(22);
	// $alert-close-opacity: 0.3;
	// $alert-close-opacity-hover: 0.5;
	// $alert-close-padding: 9px 6px 4px;

	// We use this to control border radius
	// $alert-radius: $global-radius;

//
// BUTTONS
//

	// $include-html-button-classes: $include-html-classes;

	// We use these to build padding for buttons.
	// $button-tny: rem-calc(10);
	// $button-sml: rem-calc(14);
	// $button-med: rem-calc(16);
	// $button-lrg: rem-calc(18);

	// We use this to control the display property.
	// $button-display: inline-block;
	// $button-margin-bottom: rem-calc(20);

	// We use these to control button text styles.
	// $button-font-family: $body-font-family;
	// $button-font-color: #fff;
	// $button-font-color-alt: #333;
	// $button-font-tny: rem-calc(11);
	// $button-font-sml: rem-calc(13);
	// $button-font-med: rem-calc(16);
	// $button-font-lrg: rem-calc(20);
	// $button-font-weight: normal;
	// $button-font-align: center;

	// We use these to control various hover effects.
	// $button-function-factor: 5%;

	// We use these to control button border styles.
	// $button-border-width: 1px;
	// $button-border-style: solid;

	// We use this to set the default radius used throughout the core.
	// $button-radius: $global-radius;
	// $button-round: $global-rounded;

	// We use this to set default opacity for disabled buttons.
	// $button-disabled-opacity: 0.7;

// Button Groups

	// $include-html-button-classes: $include-html-classes;

	// Sets the margin for the right side by default, and the left margin if right-to-left direction is used
	// $button-bar-margin-opposite: rem-calc(10);
	// $button-group-border-width: 1px;


// Forms

	// $include-html-form-classes: $include-html-classes;

	// We use this to set the base for lots of form spacing and positioning styles
	// $form-spacing: rem-calc(16);

	// We use these to style the labels in different ways
	// $form-label-pointer: pointer;
	// $form-label-font-size: rem-calc(14);
	// $form-label-font-weight: normal;
	// $form-label-font-color: lighten(#000, 30%);
	// $form-label-bottom-margin: rem-calc(8);
	// $input-font-family: inherit;
	//$input-font-color: $body-font-color;
	// $input-font-size: rem-calc(14);
	//$input-bg-color: darken($secondary-bg, 0%) !default; 
	//$input-focus-bg-color: lighten($secondary-bg, 10%) !default;
	//$input-border-color: $border-color !default;
	//$input-focus-border-color: darken($input-bg-color, 10%) !default;
	// $input-border-style: solid;
	// $input-border-width: 1px;
	//$input-disabled-bg: darken($input-bg-color, 10%) !default;
	//$input-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	//$input-include-glowing-effect: false;

	// We use these to style the fieldset border and spacing.
	// $fieldset-border-style: solid;
	// $fieldset-border-width: 1px;
	// $fieldset-border-color: #ddd;
	// $fieldset-padding: rem-calc(20);
	// $fieldset-margin: rem-calc(18 0);

	// We use these to style the legends when you use them
	// $legend-bg: #fff;
	// $legend-font-weight: bold;
	// $legend-padding: rem-calc(0 3);

	// We use these to style the prefix and postfix input elements
	// $input-prefix-bg: darken(#fff, 5%);
	// $input-prefix-border-color: darken(#fff, 20%);
	// $input-prefix-border-size: 1px;
	// $input-prefix-border-type: solid;
	// $input-prefix-overflow: hidden;
	// $input-prefix-font-color: #333;
	// $input-prefix-font-color-alt: #fff;

	// We use these to style the error states for inputs and labels
	// $input-error-message-padding: rem-calc(6 9 9);
	// $input-error-message-top: -1px;
	// $input-error-message-font-size: rem-calc(12);
	// $input-error-message-font-weight: normal;
	// $input-error-message-font-style: italic;
	// $input-error-message-font-color: #fff;
	// $input-error-message-font-color-alt: #333;

	// We use this to style the glowing effect of inputs when focused
	// $glowing-effect-fade-time: 0.45s;
	// $glowing-effect-color: $input-focus-border-color;

	// Select variables
	$select-bg-color: $secondary-bg; 


// Panels

	// $include-html-panel-classes: $include-html-classes;

	// We use these to control the background and border styles
	// $panel-bg: darken(#fff, 5%);
	// $panel-border-style: solid;
	// $panel-border-size: 1px;

	// We use this % to control how much we darken things on hover
	// $panel-function-factor: 10%;
	// $panel-border-color: darken($panel-bg, $panel-function-factor);

	// We use these to set default inner padding and bottom margin
	// $panel-margin-bottom: rem-calc(20);
	// $panel-padding: rem-calc(20);

	// We use these to set default font colors
	// $panel-font-color: #333;
	// $panel-font-color-alt: #fff;

	// $panel-header-adjust: true;
	// $callout-panel-link-color: $primary-color;


// Side Nav

	// $include-html-nav-classes: $include-html-classes;

	// We use this to control padding.
	// $side-nav-padding: rem-calc(14 0);

	// We use these to control list styles.
	// $side-nav-list-type: none;
	// $side-nav-list-position: inside;
	// $side-nav-list-margin: rem-calc(0 0 7 0);

	// We use these to control link styles.
	// $side-nav-link-color: $primary-color;
	// $side-nav-link-color-active: lighten(#000, 30%);
	// $side-nav-font-size: rem-calc(14);
	// $side-nav-font-weight: normal;
	// $side-nav-font-family: $body-font-family;
	// $side-nav-active-font-family: $side-nav-font-family;



	// We use these to control border styles
	// $side-nav-divider-size: 1px;
	// $side-nav-divider-style: solid;
	// $side-nav-divider-color: darken(#fff, 10%);


// Sub Nav

	// $include-html-nav-classes: $include-html-classes;

	// We use these to control margin and padding
	// $sub-nav-list-margin: rem-calc(-4 0 18);
	// $sub-nav-list-padding-top: rem-calc(4);

	// We use this to control the definition
	// $sub-nav-font-family: $body-font-family;
	// $sub-nav-font-size: rem-calc(14);
	// $sub-nav-font-color: #999;
	// $sub-nav-font-weight: normal;
	// $sub-nav-text-decoration: none;
	// $sub-nav-border-radius: 3px;
	// $sub-nav-font-color-hover: darken($sub-nav-font-color, 15%);


//
// SWITCH
//

	// $include-html-form-classes: $include-html-classes;

	// Controlling border styles and background colors for the switch container
	// $switch-border-color: darken(#fff, 20%);
	// $switch-border-style: solid;
	// $switch-border-width: 1px;
	// $switch-bg: #fff;

	// We use these to control the switch heights for our default classes
	// $switch-height-tny: 22px;
	// $switch-height-sml: 28px;
	// $switch-height-med: 36px;
	// $switch-height-lrg: 44px;
	// $switch-bottom-margin: rem-calc(20);

	// We use these to control default font sizes for our classes.
	// $switch-font-size-tny: 11px;
	// $switch-font-size-sml: 12px;
	// $switch-font-size-med: 14px;
	// $switch-font-size-lrg: 17px;
	// $switch-label-side-padding: 6px;

	// We use these to style the switch-paddle
	// $switch-paddle-bg: #fff;
	// $switch-paddle-fade-to-color: darken($switch-paddle-bg, 10%);
	// $switch-paddle-border-color: darken($switch-paddle-bg, 35%);
	// $switch-paddle-border-width: 1px;
	// $switch-paddle-border-style: solid;
	// $switch-paddle-transition-speed: .1s;
	// $switch-paddle-transition-ease: ease-out;
	// $switch-positive-color: lighten($success-color, 50%);
	// $switch-negative-color: #f5f5f5;

	// Outline Style for tabbing through switches
	// $switch-label-outline: 1px dotted #888;

// Marcas
	$facebook:#3B5998;
	$twitter: rgb(64,153,255);
	$googleplus: rgb(221, 75, 57);
	$pinterest: rgb(203, 32, 39);
	$skype: rgb(18,165,244);
	$spotify: rgb(129,183,26);
	$instagram: #4E433C; 
	$tumblr: #2B4964; 
	$vimeo: #86B32D;
	$soundcloud: #f76600;
	$youtube: #c4302b;  
	$linkedin: #4875B4; 
	$flickr: #FE0883;  
	$foursquare: #8FD400;

	// Tabs
	.fb-col{
		color:$facebook;
	}
	.tw-col{
		color:$twitter;
	}
	.yt-col{
		color:$youtube;
	}

$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;