<div class="module">
	<div class="module_header row collaspe">
		<div class="large-6 columns">
			<h4 ng-click="see()">Nuevo producto</h4>
		</div>
		<div class="large-6 columns">
			<div class="row collapse">
				<div class="large-12 columns">
                    <button class="hide tiny right" ng-click="seeForm()">show form</button>
				</div>
			</div>
		</div>
	</div>	
	<div class="module_content add_product">
		<form type="POST" name="pForm" ng-submit="newElement(pForm,transfers)" >
			<div class="row" flow-init="flowInit" flow-name="pForm.flow" flow-file-success="restartForm()">
				<div class="large-7 columns">
					<div class="row">
						<div class="small-4 large-1 columns">
							<label for="">&nbsp;</label>
							<select ng-model="pForm.important">
								<option value="">&#9734;</option>
								<option value="1">&#9733;</option>
							</select>				
						</div>
						<div class="small-8 large-3 columns">
							<label for="" ng-click="pForm.name='mineapolis'">Nombre</label>
							<input type="text"  placeholder="Product name" ng-model="pForm.name" required>					
						</div>
						<div class="small-6 large-4 columns">
							<label for="">Categorias {{pForm.categories}}</label>
							<input type="text" selectize="selectize.categories.options" placeholder="Elegir categorias" ng-model="pForm.categories" options="categories"/>
						</div>
						<div class="small-6 large-4 columns">
							<label for="" ng-click="see()">Tags {{selectize.tags.value}}</label>
							<input type="text" selectize="selectize.tags.options" placeholder="Elegir tags" ng-model="pForm.tags" options="tags"/>
						</div>
					</div>
					<div class="row">
						<div class="small-6 large-1 columns">
							<label for="">Stock</label>
							<input type="text" placeholder="Numero disponible"  ng-model="pForm.stock" ng-pattern="/^[0-9]+$/">
						</div>
						<div class="small-6 large-3 columns">
							<label for="">Url</label>
							<input  type="text" placeholder="Seo url" value="{{pForm.url}}" name-to-url parse-url="pForm.name" ng-model="pForm.url" >
						</div>
						<div class="small-6 large-2 columns">
							<div class="row collapse">
								<label for="">Descuento</label>
								<div class="small-9 columns">
									<input type="text"  class="error" placeholder="Porcentaje" ng-model="pForm.discount" ng-pattern="/^[0-9]+$/">
								</div>
								<div class="small-3 columns">
									<span class="postfix">%</span>
								</div>					
							</div>
						</div>
						<div class="small-6 large-2 columns">
							<label for="">Precio</label>
							<input type="text" placeholder="Precio proveedor"  ng-model="pForm.price" ng-pattern="/^[0-9]+$/">
						</div>
						<div class="small-6 large-2 columns">
							<label for="">Pvr</label>
							<input type="text" placeholder="Precio recomendado"ng-model="pForm.pvr"  ng-pattern="/^[0-9]+$/">
						</div>	
						<div class="small-6 large-2 columns">
							<label for="">Pvp</label>
							<input type="text" placeholder="Precio venta" ng-model="pForm.pvp" ng-pattern="/^[0-9]+$/"> 
						</div>
					</div>
                    <div class="row transfers" ng-init="drag=false" flow-transfers flow-drop flow-drag-enter="drag=true" flow-drag-leave="drag=false" ng-class="{active:drag}">
                        <div class="th msj-animated" ng-repeat="file in transfers">
                            <a class="times" ng-click="$flow.removeFile(file)"><i class="fa fa-times"></i></a>
                            <img flow-img="$flow.files[$index]"/>
                            <div class="progress">
                                <span class="meter" style="width:{{file.progress()}}"></span>
                            </div>
                        </div>
                        <div class="th msj-animated" ng-repeat="(key,file) in pForm.images">
                            <a class="times" ng-click="removeImage(file,key)"><i class="fa fa-times"></i></a>
                            <img ng-src="/drikkenapi/public/img/{{file.user}}/{{file.image}}"/>
                        </div>
                    </div>
				</div>
				<div class="large-5 columns mce">
					<label for=""> Descripcion </label>
					<div class="row mce-toolbar">
						<text-angular-toolbar ta-toolbar-group-class="button-group left" ta-toolbar-button-class="tiny secondary clearfix" ta-toolbar-button-active-class="active" ta-toolbar="[['h1','h2','h3','p'],['bold','italics','ul'],['html', 'insertImage', 'insertLink']]" name="toolbar1"></text-angular-toolbar>
					</div>
					<div class="row mce-content">
						<text-angular ta-target-toolbars='toolbar1' ng-model="pForm.description"></text-angular>
					</div>
                    <div class="row buttons">
                        <div class="large-12 columns">
                            <div class="right">
                                <button type="submit" class="button success tiny right" ng-disabled="!pForm.$valid" ng-hide="editToggle"><i class="fa fa-cloud-upload"></i> Guardar</button>
                                <button class="button primary tiny right" flow-btn><i class="fa fa-picture-o"></i> Añadir imagen</button>
                                <button class="button tiny success right" ng-click="editElement(pForm)" ng-show="editToggle" ng-disabled="!pForm.$valid" ><i class="fa fa-pencil-square-o"></i> Editar</button>
                                <div class="button alert tiny right" ng-click="restartView()" ng-hide="pForm.$pristine"><i class="fa fa-refresh"></i> Reset</div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</form>	
	</div>
</div>
