<div class="module table_list">
	<div class="module_header row collapse">
		<div class="small-3 columns collapse">
			<h4>Listado</h4>
		</div>
		<div class="small-9 columns">
			<div class="row collapse">
				<div class="small-7 columns">
					<input type="text" class="left searcher" value="hash" placeholder="Busqueda" ng-model="options.filter">
				</div>
				<div class="small-3 columns">
					<button class="button tiny postfix" ng-click="setElements()"><i class="fa fa-refresh"></i></button>
				</div>
				<div class="small-2 columns">
					<button class="button tiny right alert postfix" ng-click="restartView()"><i class="fa fa-times"></i></button>
				</div>
			</div>
		</div>
	</div>
	<div class="module_content"> 
		<table >
			<thead>
				<tr ng-class="">
					<th d-order="important"  ng-class="{active: options.order === 'important',asc: options.orderM === false}"><i class="fa fa-star-half-o"></i></th>
					<th d-order="id" ng-class="{active: options.order === 'id',asc: options.orderM === false}">ID</th>
					<th d-order="name" ng-class="{active: options.order === 'name',asc: options.orderM === false}">Nombre</th>
					<th >Url</th>
					<th>Categoria</th>
					<th>Tags</th>
					<th d-order="price" ng-class="{active: options.order === 'price',asc: options.orderM === false}">Price</th>
					<th d-order="pvp" ng-class="{active: options.order === 'pvp',asc: options.orderM === false}">Pvp</th>
					<th d-order="pvr" ng-class="{active: options.order === 'pvr',asc: options.orderM === false}">Pvr</th>
					<th>Stock</th>
					<th>Editar</th>
					<!--<th>Images</th>-->
					<th>Eliminar</th>
				</tr> 
			</thead>
			<tbody>
				<tr  class="ng-animated" ng-repeat="item in elements | orderBy:options.order:options.orderM | filter:options.filter track by item.id" ng-class="{'success-bg':selectedElement.id == item.id}">

                    <td><i class="fa" data-dest="{{item.important}}"></i></td>
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.url}}</td>
					<td><span ng-repeat="cat in item.categories" class="label secondary" ng-click="options.filter = cat.name">{{cat.name}} </span>  </td>
					<td><span ng-repeat="tag in item.tags" class="label secondary" ng-click="options.filter = tag.name">{{tag.name}}</span>  </td>
					<td>{{item.price}}</td>
					<td>{{item.pvp}}</td>
					<td>{{item.pvr}}</td>
					<td >{{item.stock}}</td>
					<td><button class="tiny" ng-click="editMode(item)"><i class="fa fa-magic"></i></button></td>
                    <!--<td><button class="tiny success"><i class="fa fa-picture-o"></i></button></td>-->
                    <td ng-class="{'hide' : remove==true}"><button class="tiny alert" ng-init="remove=false" ng-click="remove = true"><i class="fa fa-lock"></i></button></td>
                    <td ng-class="{'hide' : remove==false}" ng-click="remove = false"><button class="tiny success" ng-click="removeItem(item.id)"><i class="fa fa-check"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>