<div class="module_header">
	<h4 class="title"><i class="fa fa-truck"></i> <span> Ventas</span></h4>
</div>	
<div class="dash_card" style="height:auto">
	<div class="columns _card_head">
		<div class="options">
			<a><i class="fa fa-cog"></i></a>
			<a><i class="fa fa-refresh"></i></a>
		</div>
	</div>
	<div class="columns _card_content">
		<div class="row header_info" >
			<div ng-if="data!=undefined" ac-chart="charType" ac-data="$parent.chartValues" ac-config="config" id='chart' class='chart' style="width:100%; height: 300px; margin-bottom:-15px;"></div>
		</div>
		<div class="row footer_info ">
			<div class="small-4 columns center">
				<span class="tiny">Total</span> <span class="smallnum">{{Sales | currency:"€"}}</span>
			</div>

			<div class="small-4 columns center">
				<span class="tiny">Costes</span> <span class="smallnum">{{Expense | currency:"€"}}</span>
			</div>

			<div class="small-4 columns center">
				<span class="tiny">Ganancias</span> <span class="smallnum">{{Income | currency:"€"}}</span>
			</div>
		</div>
	</div>
</div>