<div class="dash_card row collapse">
	<div class="columns primary-bg _card_head __right" ng-class="{'alert-bg': ordersNum!=0}">
		<h1 class="title"><i class="fa fa-exclamation-triangle"></i><span></span></h1>
	</div>
	<div class="columns _card_content __right row collapse">
		<div class="small-3 columns secondary-bg">
			<a href="#/pedidos"><h1 class="title num" >{{ordersNum}}</h1></a>
		</div>
		<div class="small-8 columns base-padding">
			<h4 class="base-padding">Pedidos  <br> sin confirmar</h4>
		</div>
	</div>
</div>