<div class="dash_card row collapse">
	<div class="columns primary-bg _card_head __right" >
		<h1 class="title"><i class="fa fa-user"></i><span></span></h1>
	</div>
	<div class="columns _card_content __right row collapse">
		<div class="small-3 columns secondary-bg">
			<a href="#/users"><h1 class="title num">{{usersNum}} </h1></a>
		</div>
		<div class="small-8 columns base-padding">
			<h4 class="base-padding">Usuarios <br> esta semana</h4>
		</div>
	</div>
</div>