<div class="module" >
	<div class="module_header row collaspe">
		<div class="small-6 large-6 columns">
			<h4>Nueva {{title}}</h4>
		</div>
		<div class="small-6 large-6 columns">
			<div class="row collapse">
				<div class="large-12 columns">
					<button class="button secondary round xtiny right " ng-click="pformclick()" ng-disabled="isUnchanged(pForm)" ng-hide="!pForm.$dirty"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
		</div>
	</div>	
	<div class="module_content add_product">
		<form type="POST" name="pForm" ng-model="pForm" ng-submit="newElement(pForm)" >
			<div class="row">
				<div class="large-7 columns">
					<div class="row">
						<div class="small-6 large-6 columns">
							<label for="">Nombre</label>
							<input type="text"  placeholder="Product name" ng-model="pForm.name" required>					
						</div>
						<div class="small-6 large-6 columns">
							<label for="">Url</label>
							<input  type="text" placeholder="Seo url" value="{{pForm.url}}" name-to-url parse-url="pForm.name" ng-model="pForm.url" >
						</div>
					</div>
				</div>
				<div class="large-5 columns mce">
					<label for=""> Descripcion </label>
					<div class="row mce-toolbar">
						<text-angular-toolbar ta-toolbar-group-class="button-group left" ta-toolbar-button-class="tiny secondary clearfix" ta-toolbar-button-active-class="active" ta-toolbar="[['h1','h2','h3','p'],['bold','italics','ul'],['html', 'insertImage', 'insertLink']]" name="toolbar1"></text-angular-toolbar>
					</div>
					<div class="row mce-content">
						<text-angular ta-target-toolbars='toolbar1' ng-model="pForm.description"></text-angular>
					</div>
				</div>
			</div>
			<div class="row buttons">
				<div class="large-12 columns">
					<div class="right">
						<button type="submit" class="button success tiny right" ng-hide="editToggle === true" ng-disabled="!pForm.$valid" ><i class="fa fa-plus-square-o"></i> Guardar</button>						
						<button type="button" ng-click="editProduct(pForm)" class="button tiny alert" ng-hide="editToggle!= true" ng-disabled="!pForm.$valid" ><i class="fa fa-pencil-square-o"></i> Editar</button>						
					</div>
				</div>
			</div>	
		</form>	
	</div>
</div>