<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head >
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content=""> 
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/ng-grid/ng-grid.min.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css({.tmp,app}) styles/main.css -->
	<link href="styles/app.css" rel="stylesheet" >
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
    <style>
	.gridStyle {
	    border: 1px solid rgb(212,212,212);
	    width: 100%; 
	    height: auto;
	}
    .angular-google-map-container { height: 500px;}
    </style>
	<!-- endbuild -->
  </head>
  <body ng-app="dkAdminApp" ng-controller="MainCtrl">
	<!--[if lt IE 7]>
	  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Add your site or application content here -->
	<header ng-hide="!UserFactory.isLogged">
		<div class="menu-link phone" ng-init="side = false" ng-click="side = !side" ng-class="{active: side==true}" ><i class="fa fa-bars"></i></div>
		<div id="title"><span  ng-click="popup = !popup" >Admin</span></div>

		
		<notifications></notifications>
		
		
	
	</header>

	<sidemenu id="side_menu" class="closed" ng-class="{active: side!=false}" ng-hide="!UserFactory.isLogged"></sidemenu>

	<div class="layout">
		<div class="container" ng-view="" ng-class="{active: side!=false}"></div>
	</div>

    <script src="bower_components/jquery/dist/jquery.js"></script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID
	 <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>
 -->
	<!--[if lt IE 9]>
	<script src="bower_components/es5-shim/es5-shim.js"></script>
	<script src="bower_components/json3/lib/json3.min.js"></script>
	<![endif]-->

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/ng-grid/build/ng-grid.min.js"></script>
	<script src="bower_components/angular-message-center/dist/message-center.js"></script>
	<script src="bower_components/textAngular/dist/textAngular.min.js"></script>
	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/angular-charts/dist/angular-charts.js"></script>
	<script src="bower_components/selectize-ng/dist/standalone/selectize-ng.min.js"></script>
	<script src="bower_components/flow.js/dist/flow.js"></script>
	<script src="bower_components/ng-flow/dist/ng-flow.js"></script>
	<script src="//maps.googleapis.com/maps/api/js?sensor=true"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
        <script src="scripts/modules/api.js"></script>
		<script src="scripts/directives/directives.js"></script>
		<script src="scripts/services/products.js"></script>
		<script src="scripts/controllers/main.js"></script>
		<script src="scripts/controllers/products.js"></script>
		<!-- endbuild -->
</body>
</html>
