$base-margin:1%;
$base-padding:1rem;

// CALCULANDO HEADER HEIGHT
$header-height:modular-scale(1.3rem,2,$golden); 
// CALCULANDO HEADER PADDING RELATIVO
$header-line-height:$header-height - $base-padding * 2 ; 
// CALCULANDO HEADER FONT-SIZE RELATIVO
$header-font-size:modular-scale($header-height,-1,$golden); 

header{
	padding:0;
	height:$header-height;
	font-size: $header-font-size;
	padding: 0 $base-padding;

	.menu-link{
		font-size:$header-height - $base-padding;
		line-height: $header-height + 0.125rem;
		height:$header-height;
		margin-top: -2px;
		width: 15%; 
		text-align: center;
		float: left;
		color:#909090;
		position: relative;
		cursor:pointer;
		@include transition(background, 0.3s, linear);
		.text{display: none;}
		&.active,&:hover{
			background-color: #2f2f2f;
			color: #c3c3c3;
		}
		div{text-align: left;}
		.fa-bell-o.active{
			color:$alert-color;
			&:after{
				content:"\f0f3";
			}&:before{content:""};
		}
	}
	#title{
		width: 70%;
		display: block;
		float: left;
		text-align: center;
		span{
			line-height: $header-height;
			height:$header-height;
			font-size: 1.4rem;
		}
	}
	.notifications{
		background:#2A2A2A;
		padding: $base-padding;
		border:1px solid #3D3D3D;
		border-top:0;
		position: absolute;
		width: 270px;
		max-width: 26rem;
		right: 0;
		top:3.5033rem;
		display: none;
		&.active{
			display: block;
		}
		#not_box{
			>div{
				min-height: 150px;
				border:2px solid #3D3D3D;
				border-top-width:1px;
				h3{
					color:#909090;
					text-align: center;
					padding-top: 57px;
				}
			}
		}
		li{
			@include clearfix(); 
			>span{border:0;}
			border-bottom: 1px solid  #3D3D3D;
			height: 2.25rem;
			>div,>span{height:100%}
			.icon{
				width: 15%;
				float: left;
				font-size: 0.8rem;
				@include postfix(#2f2f2f);
				color:white;
				text-align: center;
				padding: 0.5rem 0;
				i{
				
				}
			}
			.content{
				width:70%;
				float: left;
 				display:block;
 				padding: 0;
				.titulo{
					width: 100%;
					padding:0.5rem 1.5rem; 
					font-size: 0.8rem;
				}
				&:hover{
					text-decoration: underline;
					&~.texto{
						height: auto;
					}
				}
			}
			.delete{
				width: 15%;
				float: left;
				font-size: 0.8rem;
				@include button-style($alert-color);
				>div{text-align: center;width: 100%}
				padding: 0.5rem 0;
				@include clearfix(); 
			}
			.texto{
				width: 100%;
				display: block;
				float: left;
				overflow: hidden;
				height: 0;
				>div{
					border-top: 1px solid  #3D3D3D; 
					display: block;
					padding: 0.5rem $base-padding;
					font-size: 0.8rem;
				}
				&.active{
					height: auto;
				}
			}
		}	
	}
}

.module_list{
	display: block;
	background: #2A2A2A; 
	color:#909090;
	span{
	 	padding:1rem 1rem 0.5rem 0; 
	 	line-height: 1rem;
	 	border-bottom:1px solid #3D3D3D;
	 	font-size: 0.8rem;
	 	width:100%;
	 	display:block;
	 	font-variant: small-caps;
	 	font-weight: bolder;
	 	text-transform: uppercase;
	 	&:first-child{
	 		padding-top: 0.5rem;
	 	}
	 }
	li{
 		width:100%;
 		a{
 			width:100%;
			padding:0.5rem 1.5rem;
 			//color: whitesmoke;
 			display:block;
 			font-size:0.9rem;
 			color:#909090;
	 		&:hover,&.active{
	 			//color:white;
	 			color: #c3c3c3;
				background-color: #2f2f2f;
	 		}
 		}
 		
 	}
}


#side_menu{
	left:-100%;
	width: 100%;
	max-width: 100%;
	position: absolute;
	&.active{
		left:0;
	}
}

.content_title{
	//height: 95px;
	//display: block;
	padding: $base-padding;
	background: white;
	//font-weight: 300;
	margin-bottom:$base-padding;
	border-bottom: 2px solid $border-color;
	//line-height: 3rem;
}

.add_product{
	padding:$base-padding;
	.button-group{
		@include clearfix();
	}
	.mce{
		.mce-toolbar{
			background: $secondary-color;
			border:1px solid $border-color;
			border-left:0;
			max-height: 36px;
			overflow: hidden;
			.tiny{
				border-right:1px solid $border-color;
				cursor:pointer;
				&:hover,&.active{
					background: darken($secondary-color,10%);
				}
				&:first-child{
					border-left:1px solid $border-color;
				}
			}
			.button-group{
				margin-right: 0.3rem;
				display: block;
			}
		}
		.mce-content{
			background: white;
            height: 75px;
            border: 1px solid lightgrey;
            border-top: 0;
			#taTextElement{
				border:1px solid $border-color;
				border-top:0;
				min-height: 100px;
				font-size: 70%;
				padding: 0.3rem;
				&:focus{
					border:1px solid $primary-color;
				}
			}
		}
	}
    .transfers{
        min-height: 59px;
        border: 2px dashed $secondary-color;
        padding: $base-padding/2;
        position:relative;
        &.active{
          border: 2px dashed $primary-color;
          &.active:before{
            color:$primary-color;
          }
        }
        &:before {
            content: "Dropdown";
            position: absolute;
            bottom: 40%;
            left: 0;
            height: 34%;
            width: 100%;
            text-align: center;
            display: block;
            color: #e7e7e7;
            font-variant: small-caps;
            font-weight: bolder;
            font-size: 1.6rem;
        }
    }
    .th{
        position: relative;
        margin: 0 $base-padding $base-padding/2 0;
        .times{
            position:absolute;
            right:$base-padding;
            top:$base-padding;
            i{
              color:white;
                &:hover{
                  color:$primary-color;
                }
            }
        }
        img{
          max-width: 200px;
        }
        .progress{
            position: absolute;
            bottom: $base-padding;
            left: 5%;
            width: 90%;
            height: 1rem;
        }
    }
}

.module.table_list{
	width:auto;
	max-width: 100%;
	display:inline-block;
	max-height: 25rem;	 
	//overflow-x:hidden;
	//overflow-y:scroll;		
	.module_content{
		overflow-x:scroll;
		overflow-y:hidden;
		padding:0 !important;
		table{
			margin:0;
		}
		thead{
			background: $secondary-color;
			color:#333333;
			td{
				min-width: 4rem;
				max-width: 9rem;
				@include ellipsis();
			}
			th[d-order]{
				cursor:pointer;
				position: relative;
				padding-left: $base-padding;
				&:first-letter{
					text-transform: uppercase;
				}
				&:before{
					content:"\f0dc";
					font-family: 'FontAwesome';
					display:block;
					position: absolute;
					left:0rem;
					padding-left: 0.2rem;
					top:25%;
					//float:right;
				}
				&.active{
					color:$primary-color;
					&:before{
						content:"\f0de";
					}
					&.asc{
						&:before{
							content:"\f0dd" !important;
						}
					}	
				}
			}
		}
		tbody{
			overflow: hidden;
			.fa[data-dest='1']{
				&:before{
					content:"\f005";
				}			
			}
			.fa[data-dest='0']{
				&:before{
					content:"\f006";
				}			
			}
			.label{
				margin-left: 0.2rem;
				cursor:pointer;
			}
            tr.selected{
              background-color:darken($secondary-color,10%);
            }
			td{

				min-width: 3.5rem;
				max-width: 9rem;
				transition:max-width 0.3s linear;
				&:first-child{
					min-width: 1rem;
				}
				&:hover{
					max-width: 100rem;
				}
				@include ellipsis();
			}
			button.tiny{
				display:block;
				margin:0 auto;
			  	@include button-size(0.3rem);
			}
            .delete{
                background: red;
            }
		}
	}
}



.module_dash{
	
	.dash_card{
		$dash_card_height: 5.375rem;
		height: $dash_card_height;

		>*{
			@include ellipsis();
		}
 		position: relative;
		._card_head{
			width: 100%;
			height: 30%;
			text-align: left;
			
			.title{
				padding: 0.20rem 0 0.20rem 0;
				font-size: 1.2rem;
				line-height: 1.2rem;
				.fa{
					margin:0px $base-padding 0 0;
					float: left;
				} 
			}
		}
		._card_content{
			height: 100%; 
			width: 100%;
		}
		//border-left: 1px solid $border-color;
		.title{
			width: 100%;
			line-height: $dash_card_height - $base-padding*2;
			padding: $base-padding;
			margin: 0;
			font-weight: lighter;
			text-align: left;
			&.num{
				padding: $base-padding 0;
				text-align: center !important;
				font-weight: bold;	
			}
			&.circle{
			
			}
			&.white{
				color:white;
			}
		}
		.options{
			top: 1px;
			right: 0;
			display: block;
			height: 1.2rem;
			padding: 0.1rem;
			width: 20%;
			position: absolute;
			opacity: 1;
			text-align: right;
			a{
				margin-right: $base-padding;
				color: whitesmoke;
				&:hover{
					color:white;
				}
			}
			i{
				font-size: 1rem;
			}
		}
		.tiny{
			font-size: 0.8rem;
			width: 100%;
			display: block;
		}

		.header_info{
			height: 50%;
			.tiny{
				height: 100%;
				line-height: 100%;
				padding: $base-padding;
			}
		}
		.footer_info{
			font-size: 0.8rem;
			border-top: 1px solid $border-color;
			height: 50%;
			.columns{
				border-right: 1px solid $border-color;
				padding: $base-padding/2;
				height: 100%;
				background: whitesmoke;
				text-align: center;
				&:last-child{
					border-right:0;
				}
			}
		}
	}
}

