header{
	.notifications{
		width: 320px
	}
}

#side_menu{
	max-width: 65%;
	position: absolute;
	&.active{
		left:0;
	}
}


.module_dash{
	
	.dash_card{
		$dash_card_height: 5.375rem;
		height: $dash_card_height;
		._card_head{
			width: 100%;
			height: 30%;
			text-align: left;
			.title{
				padding: 0.20rem 0 0.20rem 0;
				.fa{
					
				} 
			}
		}
		._card_content{
			height: 100%;
		}

		.big{

		}
		.tiny{

		}

		.header_info{
	
			.tiny{

			}
		}
		.footer_info{

			.columns{

				&:last-child{
		
				}
			}
		}
	}
}
