header{
	padding:0;
	height:$header-height;
	font-size: $header-font-size;
	padding: 0 $base-padding;
	.menu-link{
		width: auto;
		font-size: 1.1rem;
		border-left:1px solid #3D3D3D;
		border-right:1px solid #3D3D3D;
		padding: 0 $base-padding;
		float:right;
		.text,i{display:inline-block;}
		>i{
			margin-right: $base-padding/2;
		}
		&.phone{
			display:none;
		}
		&.active{
			background-color: #2f2f2f;
			color: #c3c3c3;
		}
	}
}
header #title{
	text-align: left;
}
#side_menu{
	max-width: 15%;
	position: relative;
	display: block;
	left: 0;
	&.active{
		left:0;
	}
}

.module.table_list{
	.module_content{

	}
}


.module_dash{
	
	.dash_card{
		$dash_card_height: 5.375rem;
		height: $dash_card_height;
		._card_head.__right{
			height: 100%;
			width: 25%;
			padding: $base-padding;
			text-align: center;
			.title{
				padding: 0;
				text-align: center;
				.fa{
					font-size: 2.75rem;
					margin: 0.30rem 0 0 0; 
					float: none;
				} 
			}
		}
		._card_content.__right{
			height: 100%;
			width: 75%;
			.title{
				text-align: left;
				padding-left: 0;
			}
		}

		.big{

		}
		.tiny{

		}

		.header_info{
	
			.tiny{

			}
		}
		.footer_info{

			.columns{

				&:last-child{
		
				}
			}
		}
	}
}
