// OOCSS



// MODULES

@mixin module{
	border-top:0 ;
	border-bottom:0 ;
	border-left:0 ;
	border-right:0;
}
.module{

}

@mixin module_header{

}
@mixin module_header-nav{

}

.module_header{

}
.module_header-nav{

}

@mixin module_footer{

}
@mixin module_footer-nav{

}
// TYPO




// STYLE

@mixin primary-bg{
	background:$primary-bg;
}
@mixin secondary-bg{
	background:$secondary-bg;
}

@mixin primary-border{
	border:1px solid $primary-border;
}

@mixin container-border(){
	border-top: 1px solid #222222;
	border-left: 1px solid #222222;
	border-right: 4px solid #222222;
	border-bottom: 4px solid #222222;
}


