<div class="module table_list">
	<div class="module_header row collapse">
		<div class="small-3 columns collapse">
			<h4>Listado</h4>
		</div>
		<div class="small-9 columns">
			<div class="row collapse">
				<div class="small-7 columns">
					<input type="text" class="left searcher" placeholder="Busqueda" ng-model="options.filter">
				</div>
				<div class="small-3 columns">
					<button class="button tiny postfix" ng-click="setElements()"><i class="fa fa-refresh" ></i></button>
				</div>
				<div class="small-2 columns">
					<button class="button tiny right alert postfix" ng-click="options.filter = null"><i class="fa fa-times"></i></button>
				</div>
			</div>
		</div>
	</div>
	<div class="module_content"> 
		<table >
			<thead>
				<tr ng-class="">
					<!--<th ng-repeat="(k,v) in elements[0]" d-order="{{k}}" ng-class="{active: options.order === k,asc: options.orderM === false}">{{k}}</th>-->
					<th ng-repeat="(k,v) in elements[0]" ng-if="k != 'created_at' && k != 'updated_at' && k != 'description' " d-order="{{k}}"  ng-class="{active: options.order === k,asc: options.orderM === false}">
						<span >{{k}}</span>
					</th>
					<th>Description</th>
					<th>Created</th>
					<th>Updated</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr> 
			</thead>
			<tbody>
				<tr class="ng-animated" ng-repeat="item in elements | orderBy:options.order:options.orderM | filter:options.filter track by item.id">
					<td ng-repeat="(k,v) in item | filter:rowFilter " ng-if="k != 'created_at' && k != 'updated_at' && k != 'description' "  d-order="k" ng-class="{active: options.order === 'k',asc: options.orderM === false}">
							<span>{{v}}</span>
					</td>
					<td>{{item.description}}</td>
					<td>{{item.created_at}}</td>
					<td>{{item.updated_at}}</td>
					<td><button class="tiny" ng-click="editMode(item)"><i class="fa fa-magic"></i></button></td>
					<td><button class="tiny alert" ng-click="deleteElement(item.id)"><i class="fa fa-times"></i></button></td>
				</tr>
			</tbody> 
		</table>
	</div>
</div>