<div class="module login">
	<div class="module_content">
		<i class="icon fa fa-user"></i>
		<form class="login_form">
			<input type="text" placeholder="Usuario">
			<input type="password" placeholder="Password"><a href="#/panel">
			<div class="button tiny success" ng-click="login()">Login</div>
		</form>
	</div>
</div>
