
<h1 class="content_title large-12 columns">Dashboard</h1>

<div class="content" id="dashboard">
	<div class="row">
		<div class="small-12 medium-4 large-4 columns">
			<div class="module">
				<div class="module_content module_dash">
					<ordersnum></ordersnum>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 large-4 columns">
			<div class="module">
				<div class="module_content module_dash">
					<usersnum></usersnum>	
				</div>
			</div>
		</div>
		<div class=" medium-4 slarge-4 columns">
			<div class="module">
				<div class="module_content module_dash">
					<alertsnum></alertsnum>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-7 columns">
			<div class="module">
				<div class="module_header">
					<h4>Visitas</h4>
				</div>		
				<div class="module_content" ng-controller="PageViewsCtrl">
				</div>	
			</div>
		</div>
		<div class="small-12 medium-4 large-5 columns">
			<div class="module">
				<div class="module_content module_dash">
					<ordersearnings></ordersearnings>
				</div>
			</div>
		</div>
	</div>
</div>

