<h1 class="content_title large-12">File Manager</h1>

<div class="content">
    <div class="module files" flow-init="flowInit" flow-file-success="setFiles()">
        <div class="module_header row collapse">
            <h4>Upload</h4>
        </div>
        <div class="module_content">
            <div class="row">
                <div class="medium-8 large-6 columns">
                    <div class="row">
                        <div class="drop" ng-init="drag=false" flow-drop flow-drag-enter="drag=true" flow-drag-leave="drag=false" ng-class="{active:drag}">
                            <span>Dropdown here {{hover}}</span>
                        </div>
                    </div>
                    <div class="row btns collapse">
                        <div class="small-3 columns">
                            <input class="button tiny primary" value="+ New File" flow-btn/>
                        </div>
                        <div class="small-3 columns">
                            <a class="button tiny success" ng-click="$flow.resume()"><i class="fa fa-play"></i> Resume</a>
                        </div>
                        <div class="small-3 columns">
                            <a class="button tiny alert" ng-click="$flow.pause()"><i class="fa fa-pause"></i> Pause</a>
                        </div>
                        <div class="small-3 columns">
                            <a class="button tiny alert" ng-click="$flow.cancel()"><i class="fa fa-times"></i> Cancel</a>
                        </div>
                    </div>
                </div>

                <div class="medium-4 large-6 columns list upload" flow-transfers>
                    <ul>
                        <li class="row collapse msj-animated animated" ng-repeat="file in transfers">
                            <div class="img load small-3 columns">
                                <img flow-img="$flow.files[$index]"/>
                            </div>
                            <div class="small-6 columns" ng-show="file.isUploading()">
                                <div class="progress">
                                    <span class="meter" style="{{file.progress()}}"></span>
                                </div>
                            </div>
                            <span class="small-6 columns" ng-hide="file.isUploading()">
                                {{file.name}} <span class="label right">{{file.size}}/kb</span>
                            </span>
                            <div class="small-3 columns">

                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
    <div class="module files">
        <div class="module_header row collapse">
            <h4>Files</h4>
        </div>
        <div class="module_content">
            <div class="row">
                <div class="element" ng-repeat="file in elements">
                   <div class="centered" ng-click="selectElement(file)" ng-class="{selected: selectedElement.$$hashKey === file.$$hashKey}">
                       <div class="icon">
                           <img ng-src="http://192.168.1.129/drikkenapi/public/{{file.url}}" alt=""/>
                       </div>
                       <div class="name">
                           {{file.id}}
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>




