<h1 class="content_title large-12">Orders Manager</h1>

<div class="content">

    <div class="row">

       <div class="large-7 columns">
          <div class="row">
              <div class="module">
                  <div class="module_header">
                      <h4>Map</h4>
                  </div>
                  <div class="module_content pdcero">
                      <google-map center="map.center" zoom="map.zoom" draggable="true" options="{disableDefaultUI:true}">
                          <marker ng-repeat="order in elements" coords="order.location[0]" labelContent='{order.created_at}' click="selectElement(order)"></marker>
                      </google-map>
                  </div>
              </div>
          </div>
           <div class="row hide">
               <listontable></listontable>
           </div>
       </div>

       <div class="large-5 columns">
            <div class="module">
                <div class="module_header">
                    <h4>Orders</h4>
                </div>
                <div class="module_content module_smart-list pdcero">
                    <ul>
                        <li ng-repeat="order in elements" ng-class="{selected: selectedElement.id === order.id}">

                            <div class="item" ng-click="selectElement(order)">
                                <div class="id left">
                                    <span class="label alert" ng-show="order.status == 'new'">Nuevo</span>
                                    <span class="label success" ng-show="order.status == 'confirmed'">Confirmado</span>
                                </div>
                                <div class="name left">{{order.address}}</div>
                                <div class="data left">{{order.created_at}}</div>
                                <div class="icon left"><i class="fa fa-angle-down" ng-class="{active: selectedElement.id === order.id}"></i></div>
                            </div>

                            <div class="content" ng-class="{selected: selectedElement.id === order.id}">

                                <div class="row">
                                    <div class="small-3 columns title_small">
                                        usuario
                                    </div>
                                    <div class="small-9 columns">
                                        <a href="#/users#{{order.user}}">{{order.user}}</a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-3 columns title_small">
                                        telefono
                                    </div>
                                    <div class="small-9 columns">
                                        <a href="tel:{{order.phone}}">{{order.phone}}</a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-3 columns title_small">
                                        fecha entrega
                                    </div>
                                    <div class="small-9 columns">
                                        {{order.delivery}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-3 columns title_small">
                                        zona
                                    </div>
                                    <div class="small-9 columns">
                                        {{order.zone}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-3 columns title_small">
                                        direccion
                                    </div>
                                    <div class="small-9 columns">
                                        {{order.address}}   {{order.postalcode}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-3 columns title_small">
                                        pago
                                    </div>
                                    <div class="small-9 columns">
                                        {{order.payment}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-3 columns title_small">
                                        comentarios
                                    </div>
                                    <div class="small-9 columns">
                                        {{order.comments}}
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="small-3 columns title_small">
                                        total
                                    </div>
                                    <div class="small-9 columns">
                                        {{order.price}}
                                    </div>
                                </div>

                                <div class="row" id="products" ng-init="prod = true">
                                    <div class="large-12 columns title" ng-click="prod = !prod" ng-class="{active:prod == true}">
                                            productos
                                    </div>
                                    <div class="large-12 products productsBlock content" ng-class="{selected:prod == true}">
                                        <div class="large-12 border-bt" ng-repeat="product in order.products">
                                                <div class="small-1 title_small columns">id</div>
                                                <div class="small-1 columns">{{product.id}}</div>
                                                <div class="small-1 title_small columns">name</div>
                                                <div class="small-5 columns"><a href="#/products#{{product.name}}">{{product.name}}</a></div>
                                                <div class="small-1 title_small columns">price</div>
                                                <div class="small-1 columns">{{product.pvp}}</div>
                                                <div class="small-1 title_small columns">qty</div>
                                                <div class="small-1 columns">{{product.qty}}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="buttons">
                                    <div class="large-6 columns">
                                        <div class="button success tiny" ng-show="order.status == 'new'">Confirmar</div>
                                        <div class="button alert tiny" ng-show="order.status == 'confirmed'">Eliminar</div>
                                    </div>
                                    <div class="large-6 columns">
                                        <div class="button tiny">Ver todo</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div> 
        
    </div>
</div>